venv/
env/
.venv/
ENV/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.spec

*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

build/
dist/
*.egg-info/
*.manifest
*.spec